/* import font-family */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* set up colors */
:root {
    /* primary colors */
    --clr-primary-dark-blue: hsl(233, 26%, 24%);
    --clr-primary-lime-green: hsl(136, 65%, 51%);
    --clr-bright-cyan: hsl(192, 70%, 51%);
    /* neutral colors */
    --clr-neutral-grayish-blue: hsl(233, 8%, 62%);
    --clr-neutral-light-gayish-blue: hsl(220, 16%, 96%);
    --clr-neutral-very-light-gray: hsl(0, 0%, 98%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    /* set up font-size */
    font-size: 18px; /* 18px = 1rem */
}

/* display links */
a {
    text-decoration: none;
    color: inherit;
}

.nav-items {
    list-style: none;
}

/* display logo and brand */
img#logo {
    margin: 18px 0;
}

/* display buttons */
.btn {
    color: var(--clr-neutral-white);
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .flex-nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-items {
        display: flex;
        gap: 30px;
    }
    .d-none {
        display: none;
    }
}